.aboutSection{background-color: #222831;
  .aboutWrapper{@include wrapperMargin; padding: 150px 0 ;
    .container{display: flex; align-items: center; justify-content: space-between; gap: 80px; max-width: 90%; margin: 0 auto;
      .imgBox{width: 50%; display: flex; align-items: center; justify-content: center;
        img{width: 500px;}
      }
      .contentBox{width: 50%;
        h2{color: #fff; font-family: $dancingFont; @include font40; font-weight: bold;}
      
        p{margin: 15px 0; color: #fff; font-family: $openSans; @include font18; line-height: 140%; letter-spacing: 0.5px;} 
      }
    }
  }
}