.aboutSection{background-color: #191b1e;
  .aboutWrapper{@include wrapperMargin; padding: 200px 0 150px ;
    .container{display: flex; align-items: center; justify-content: space-between; gap: 80px; max-width: 90%; margin: 0 auto;
      .imgBox{width: 50%; display: flex; align-items: center; justify-content: center;
        img{width: 500px;}
      }
      .contentBox{width: 50%;
        h2{color: #fff; font-family: $dancingFont; @include font40; font-weight: bold;}
      
        p{margin: 15px 0; color: #fff; font-family: $openSans; @include font18; line-height: 160%; letter-spacing: 1px; text-align: justify;} 
      }
    }
  }

  @media all and (max-width: 1800px){
    .aboutWrapper{padding: 180px 0 150px ;}
  }
  @media all and (max-width: 1600px){
    .aboutWrapper{padding: 160px 0 150px ;}
  }
  @media all and (max-width: 1440px){
    .aboutWrapper{padding: 140px 0 150px ;}
  }
  @media all and (max-width: 1280px){
    .aboutWrapper{padding: 120px 0 150px ;}
  }

  @media all and (max-width: 1024px){height: 100%; display: flex; align-items: center;
    .aboutWrapper{padding: 160px 0;
      .container{max-width: 100%;}
    }
  }
  @media all and (max-width: 720px){
    .aboutWrapper{padding: 100px 0;
      .container{flex-flow: column; flex-direction: column-reverse;
        .imgBox{width: 100%;
          img{width: auto;}
        }
        .contentBox{width: 100%;
          h2{font-size: 40px;}
          p{font-size: 16px;}
        }
      }
    }
  }
}