.heroSection{position: relative;height: 100vh; margin-bottom: 200px;
    .heroWrapper{@include wrapper; height: 100%;
        .bg-box{position: absolute; top: 0;left: 0; width: 100%; height: 100%;
            img{width: 100%; height: 100%; object-fit: cover;}
        }
        .sliderhead{position: relative; top: 300px;
            .sliderContainer{padding: 45px 0 75px 0;
                .contentContainer{width: 45%;margin-bottom: 145px;
                    h1{@include font60; font-family: $dancingFont; font-weight: $fontW700; margin-bottom: 15px; color: #fff;}
                    p{@include font16; color: #fff;font-weight: $fontW400; font-family: $openSans; margin-bottom: 20px; line-height: 160%;}
                    button{padding: 10px 45px; background: $primary1; color: #fff; border-radius: 45px; transition: all 0.3s; border: none;margin-top: 10px;   text-align: center; @include font20; font-family: $openSans; font-weight: $fontW500; cursor: pointer;
                        &:hover{background: #e69c00;}
                    }
                }
                .slick-dots{position: unset; display: flex !important; align-items: center;
                    li{margin: 0 3px;
                        button{
                            &::before{color: #fff; @include font14; opacity: 1;}
                        }
                        &.slick-active{
                            button{
                                &::before{color: $primary1; @include font20;}
                            }
                        }
                    }
                    
                }
            }
        }
    }
    @media all and (max-width: 1800px){}
    @media all and (max-width: 1600px){margin-bottom: 160px;
        .heroWrapper{
            .sliderhead{
                .sliderContainer{padding: 40px 0 70px 0;
                    .contentContainer{width: 45%; margin-bottom: 120px;}
                }
            }
        }
    }
    @media all and (max-width: 1440px){margin-bottom: 120px;
        .heroWrapper{
            .sliderhead{top: 250px;
                .sliderContainer{
                    .contentContainer{margin-bottom: 100px;
                        button{padding: 10px 40px;}
                    }
                }
            }
        }
    }
    @media all and (max-width: 1280px){margin-bottom: 100px;
        .heroWrapper{
            .sliderhead{top: 180px;
                .sliderContainer{padding: 40px 0 60px 0;
                    .contentContainer{margin-bottom: 80px;
                        button{padding: 10px 35px;}
                    }
                }
            }
        }
    }
    @media all and (max-width: 1024px){
        .heroWrapper{
            .sliderhead{top: 300px;
                .sliderContainer{padding: 40px 0 60px 0;
                    .contentContainer{margin-bottom: 80px; width: 75%;
                        button{ padding: 10px 35px;}
                    }
                }
            }
        }
    }
    @media all and (max-width: 820px) {
       .heroWrapper{height: 100%; width: 100%; cursor: pointer;
           .bg-box{ height: 100%;}
           .sliderhead{top: 25%;
                .sliderContainer{
                    .contentContainer{
                        h1{font-size: 60px;}
                    }
                }
            }
        } 
    }
    @media all and (max-width: 720px){margin-bottom: 80px; height: auto; padding-top: 100px;
        .heroWrapper{
            .sliderhead{
                .sliderContainer{
                    .contentContainer{width: 100%;
                        h1{font-size: 40px;}
                    }
                    .slick-dots{
                        li{margin: 0 3px;
                            button{
                                &::before{color: #fff; font-size: 10px; opacity: 1;}
                            }
                            &.slick-active{
                                button{
                                    &::before{color: $primary1; @include font20;}
                                }
                            }
                        }
                        
                    }
                }
            }
         } 
    }
}

.homepageMenuSec{margin-bottom: 200px;
    .menuWrapper{padding-top: 0 !important;}
    @media all and (max-width: 1600px){margin-bottom: 160px;
        .menuWrapper{padding-top: 0 !important;}
    }
    @media all and (max-width: 1440px){margin-bottom: 120px;
        .menuWrapper{padding-top: 0 !important;
            .contentContainer{padding: 0 50px !important;}
        
        }
    }
    @media all and (max-width: 1280px){margin-bottom: 100px;
        .menuWrapper{padding-top: 0 !important;}
    }
      @media all and (max-width: 1440px){
        .menuWrapper{
            .contentContainer{padding: 0 !important;}
        
        }
    }
    @media all and (max-width: 720px){margin-bottom: 80px;
        .menuWrapper{padding-top: 0 !important;}
    }
}

.testimonialSec{margin-bottom: 200px; background-size: cover;background-repeat: no-repeat; background-position: center;
    .wrapper{@include wrapper; padding-top: 120px; padding-bottom: 120px;
        .cards{
            .testimonial-card{max-width: 700px;margin: 0 auto;text-align: center;padding: 60px 20px;color: #333;
                .profile {display: flex;justify-content: center;margin-bottom: 16px;
                    .profile-img {width: 90px;height: 90px;border-radius: 50%;object-fit: cover;}
                }
                .name {@include font24 ; font-weight: 600; margin-bottom: 8px;}
                .rating {display: flex;justify-content: center;gap: 4px;margin-bottom: 20px;
                    span {color: #ffb400;font-size: 18px;}
                        .inactive {color: #ccc;}
                }
                
                .review {font-size: 16px ;line-height: 160%; letter-spacing: 0.5px; color: #555555; max-width: 600px; margin: 0 auto 40px; font-style: italic;}
            }
            
        }
        .swiper-pagination {display: flex;justify-content: center;gap: 10px;
            & .swiper-pagination-bullet{width: 10px;height: 10px;border-radius: 2px;
                &.swiper-pagination-bullet-active {background: #ffbe33;}
            }
                
        }
    }
    @media all and (max-width: 1600px){margin-bottom: 160px;
        .wrapper{padding-top: 100px; padding-bottom: 100px;}
    }
    @media all and (max-width: 1440px){margin-bottom: 120px;}

    @media all and (max-width: 1280px){margin-bottom: 100px;
        .wrapper{padding-top: 80px; padding-bottom: 80px;
            .swiper-pagination{gap: 6px; 
                .swiper-pagination-bullet{width: 8px; height: 8px;}
            }
        
        }
    }
    @media all and (max-width: 1024px){
        .wrapper{padding-top: 60px; padding-bottom: 60px;}
    }
    @media all and (max-width: 720px){margin-bottom: 80px;
        .wrapper{padding-top: 40px; padding-bottom: 40px;
            .cards{
                .testimonial-card{padding: 40px 0;
                    .name{font-size: 18px;}
                    .review{margin:  0 auto 20px; font-size: 14px;}
                }
            }
        
        }
    }
}
