.menuSection{padding-top: 200px;
    .menuWrapper{@include wrapper;
        .secHeading{display: flex; justify-content: center; align-items: center; margin-bottom: 45px;
            h2{@include font40; font-family: $dancingFont; font-weight: $fontW700; color: #000;}
        }
        .contentContainer{ padding: 0 100px;
            .menuCardContainer{
                .tabsList{margin-bottom: 30px;
                    ul{display: flex; align-items: center; justify-content: center; gap: 20px; flex-flow: wrap;
                        li{padding: 7px 25px; cursor: pointer; transition: all 0.3s ease;
                            &.activeTab{background: #222831; color: white; border-radius: 25px; transform: scale(1.1); transition: all 0.3s ease; }
                        }
                    }
                }
                .tabContent{
                    .allCards{display: flex; align-items: center; flex-flow: wrap; gap: 30px;
                        .card{width: calc(33.33% - 20px); position: relative; border-radius: 15px; overflow: hidden; background: linear-gradient(to bottom, #f1f2f3 40px, #222831 25px); transition: all 0.8s ease;
                            .imgBox{background: #f1f2f3; display: flex; justify-content: center; align-items: center; height: 300px; border-radius:  0 0 0 45px; padding: 25px;
                                img{width: 200px; height: 150px; transition: transform 0.3s ease-in-out;}
                            }
                            .contentBox{padding: 25px;
                                h4{color: #ffffff; @include font20; font-weight: $fontW700; line-height: 170%; letter-spacing: 0.4px;font-family:$openSans;}
                                & > p{color: #fff;@include font16; font-weight: $fontW400; line-height: 160%; letter-spacing: 0.48px; margin: 10px 0 20px 0;}
                                .priceBox{display: flex; align-items: center; flex-flow: wrap; justify-content: space-between;
                                 & > p{color: #fff; @include font16; font-family: $openSans; font-weight: $fontW400;}
                                    span{width: 40px; height: 40px; border-radius: 100%; background: #ffbe33; display: flex; align-items: center; justify-content: center; cursor: pointer;
                                        svg{
                                            path{fill:#fff;height: 20px; width: 20px;}
                                        }
                                    }
                                }
                            }
                            &:hover{
                                .imgBox{img{transform: scale(1.5);}}
                            }
                        }
                    }
                }
            }
            .viewMore{margin-top: 45px; display: flex; align-items: center; justify-content: center;
                button{padding: 10px 55px; background-color: #ffbe33; color: #fff; border-radius: 45px;border: none; cursor: pointer;}
                &:hover{
                    button{background: #e69c00;}
                }
            }
        }
    }

    @media all and (max-width: 1800px){padding-top: 180px;
        .menuWrapper{
            .contentContainer{
                .menuCardContainer{
                    .tabContent{
                        .allCards{gap: 25px;
                            .card{width: calc(33.33% - 17px);
                                .imgBox{padding: 22px; height: 290px;}
                                .contentBox{padding: 22px;
                                    p{margin: 10px 0 18px 0;}
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    @media all and (max-width: 1600px){padding-top: 140px;
        .menuWrapper{
            .contentContainer{
                .menuCardContainer{
                    .tabContent{
                        .allCards{gap: 22px;
                            .card{width: calc(33.33% - 15px);
                                .imgBox{padding: 20px; height: 280px;}
                                .contentBox{padding: 20px;
                                    p{margin: 10px 0 18px 0;}
                                }
                                &:hover{
                                    .imgBox{img{transform: scale(1.2);}}
                                }
                            }
                        }
                    }
                }
                .viewMore{margin-top: 40px;}
            }
        }
    }
    @media all and (max-width: 1440px){padding-top: 120px;
        .menuWrapper{
            .contentContainer{
                .menuCardContainer{
                    .tabsList{
                        ul{
                            li{gap: 15px;}
                        }
                    }
                    .tabContent{
                        .allCards{gap: 20px;
                            .card{width: calc(33.33% - 14px);
                                .imgBox{padding: 15px; height: 250px;}
                                .contentBox{padding: 15px;
                                    p{margin: 8px 0 15px 0;}
                                }
                            }
                        }
                    }
                }
                .viewMore{margin-top: 35px;}
            }
        }
    }
    @media all and (max-width: 1280px){padding-top: 100px;
        .menuWrapper{
            .contentContainer{
                .menuCardContainer{
                    .tabContent{
                        .allCards{gap: 15px;
                            .card{width: calc(33.33% - 10px);
                                .imgBox{padding: 12px;}
                                .contentBox{padding: 12px;
                                    p{margin: 8px 0 12px 0;}
                                }
                            }
                        }
                    }
                }
                .viewMore{margin-top: 30px;}
            }
        }
    }
    @media all and (max-width: 1024px){
        .menuWrapper{
            .contentContainer{padding: 0;
                .menuCardContainer{
                    .tabContent{
                        .allCards{gap: 20px;
                            .card{width: calc(33.33% - 14px);
                                .imgBox{padding: 12px;}
                                .contentBox{padding: 12px;}
                            }
                        }
                    }
                }
            }
        }
    }
    @media all and (max-width: 820px){
        .menuWrapper{
            .contentContainer{
                .menuCardContainer{
                    .tabContent{
                        .allCards{gap: 20px;
                            .card{width: calc(50% - 10px);
                                .imgBox{padding: 22px;}
                                .contentBox{padding: 22px;}
                            }
                        }
                    }
                }
            }
        }
    }
    @media all and (max-width: 720px){
        .menuWrapper{
            .secHeading{
                h2{font-size: 30px;}
            }
            .contentContainer{
                .menuCardContainer{
                    .tabContent{
                        .allCards{flex-flow: column;
                            .card{width: calc(100% - 0px);}
                        }
                    }
                }
            }
        }
    }
}