.register{
    @media all and (max-width: 1800px){
        .wrapper{
            .formContainer{
                form{
                    input[type="submit"]{margin-top: 40px;}
                }
            }
        }
    }
    @media all and (max-width: 1600px){
        .wrapper{
            .formContainer{gap: 40px;
                form{
                    input[type="submit"]{margin-top: 35px;}
                }
            }
        }
    }
    @media all and (max-width: 1440px){
        .wrapper{
            .formContainer{gap: 30px;
                form{
                    input[type="submit"]{margin-top: 30px;}
                }
            }
        }
    }
    @media all and (max-width: 1280px){
        .wrapper{
            .formContainer{gap: 25px;
                form{
                    input[type="submit"]{margin-top: 25px; padding: 10px 18px;}
                }
            }
        }
    }
    @media all and (max-width: 1024px){
        .wrapper{
            .formContainer{gap: 12px;
                form{gap: 10px;
                    .inputContainer{width: 90%;
                        input{padding: 12px 18px;}
                    }
                    input[type="submit"]{margin-top: 14px; width: 28%; padding: 8px 16px;}
                }
            }
        }
    }
    @media all and (max-width: 820px){
        .wrapper{flex-flow: column; gap: 30px;
            .imgContainer{width: 100%;}
            .formContainer{gap: 35px; width: 100%; padding: 20px 0;
                form{gap: 10px;
                    .inputContainer{
                        input{padding: 14px 20px;}
                    }
                    input[type="submit"]{margin-top: 20px; width: 20%; padding: 8px 16px;}
                }
            }
        }
    }
    @media all and (max-width: 720px){
        .wrapper{gap: 20px;
            .formContainer{padding: 15px 0;
                form{gap: 12px;
                    input[type="submit"]{margin-top: 15px; width: 30%;}
                }
                .signUpNote{
                    a{font-size: 18px;}
                }
            }
        }
    }
}