header{display: flex; justify-content: space-between; align-items: center; @include wrapper;position: fixed; top: 0; left: 0; width: 100%; height: 100px; z-index: 9; background: #222831;
    .logoName{position: relative; z-index: 9;
        span{color: #fff; font-family: $dancingFont; font-weight: $fontW500; @include font48;}
    }
    .navbar-link{padding-left: 20%;
        ul{display: flex; flex-flow: wrap;
            a{
                li{padding: 5px 20px; color: #fff; text-align: center; text-transform: uppercase; font-family: $openSans; font-weight: $fontW500; @include font20;
                    &:hover{color: $primary1;}
                }
                &.active{li{color: #e69c00;}}
            }
            
        }
    }
    .user-items{
        ul{display: flex; flex-flow: wrap; align-items: center; gap: 15px;
            li{ @include font20;color: #fff; text-align: center; font-family: $openSans; font-weight: $fontW500;}
            .user-icon{
                svg{
                    path{fill:#fff;height: 20px; width: 20px;}
                }
                &:hover{svg{path{fill: #e69c00;}}}
            }
            .user-name{text-transform: capitalize; color: #e69c00; font-weight: $fontW600;}
            .cart-icon{ 
                svg{
                    path{fill:#fff;height: 20px; width: 20px;}
                }
                &:hover{svg{path{fill: #e69c00;}}}
            }
            .order-online{padding: 8px 30px; background: $primary1; border-radius: 45px; transition: all 0.3s; border: none; position: relative;
                &:hover{background: #e69c00;}
                  & .cartCounter{position: absolute; top: -50%; transform: translateY(50%); right: -3px; background:#ffffff; border-radius: 100%; width: 20px; height: 20px; font-size: 12px; display: flex; align-items: center; justify-content: center; padding: 5px; color: #ffaf03; }
            }
        }
    }
    .hemburgerMenu{display: none;}
    .mblheaderContainer{display: none;}
    
    
}
@media all and (max-width: 1600px){
    header{
        .navbar-link{padding-left: 18%;}
    }
}
@media all and (max-width: 1440px){
    header{
        .user-items{
            ul{
                .order-online{padding: 8px 25px;}
            }
        }
    }
}
@media all and (max-width: 1280px){
    header{
        .navbar-link{padding-left: 15%;}
        
    }
}
@media all and (max-width: 1024px){
    header{
        .navbar-link{padding-left: 5%;}
        .user-items{
            ul{gap: 14px;
                .order-online{padding: 8px 20px;}
            }
        }
    }
}
@media all and (max-width: 820px){
    header{height: auto; padding-top: 30px; padding-bottom: 30px;
        .navbar-link{display: none;}
        .user-items{display: none;}
        .hemburgerMenu{display: block;position: relative; z-index: 9;
            svg{font-size: 30px;
                path{fill:#fff;}
            }
            &:hover{svg{path{fill: #e69c00;}}}
        }
        .mblheaderContainer{width: 100%;height: 100vh;position: absolute; top: 0; left: 0; background: #000; display: flex; align-items: center;justify-content: center; flex-flow: column; gap: 20px; transition: all 0.8s ease-out;
        transform: translateX(0);
            .mbl-navbar-link{
                ul{display: flex; flex-flow: column; gap: 12px;
                    li{padding: 5px 20px; color: #fff; text-align: center; text-transform: uppercase; font-size: 22px; font-family: $openSans; font-weight: $fontW500;
                    &:hover{color: $primary1;}
                    }
                }
            }
            .mbl-user-items{
                ul{display: flex; flex-flow: wrap; align-items: center; gap: 15px;
                    li{ font-size: 20px; color: #fff; text-align: center; font-family: $openSans; font-weight: $fontW500}
                    .user-icon{
                        svg{
                            path{fill:#fff;height: 20px; width: 20px;}
                        }
                        &:hover{svg{path{fill: #e69c00;}}}
                    }
                    .cart-icon{ 
                        svg{
                            path{fill:#fff;height: 20px; width: 20px;}
                        }
                        &:hover{svg{path{fill: #e69c00;}}}
                    }
                    .order-online{padding: 8px 30px; background: $primary1; border-radius: 45px; transition: all 0.3s; border: none; position: relative;
                        &:hover{background: #e69c00;}
                        & .cartCounter{position: absolute; top: -50%; transform: translateY(50%); right: -3px; background:#ffffff; border-radius: 100%; width: 20px; height: 20px; font-size: 12px; display: flex; align-items: center; justify-content: center; padding: 5px; color: #ffaf03; }
                    }
                }
            }
        }
    }
}
@media all and (max-width: 720px){
    header{padding-top: 15px; padding-bottom: 10px;
        .logoName{
            span{font-size: 32px;}
        }
    }
}