//Global File
@import 'base/_global.scss';

//Header and Footer
@import 'module/_header.scss';
@import 'module/_footer.scss';

//Pages
@import 'pages/_homepage.scss';
@import 'pages/_offerCard.scss';
@import 'pages/_menu.scss';
@import 'pages/_login.scss';
@import 'pages/_register.scss';
@import 'pages/_adminlayout.scss';
@import 'pages/_adminNav.scss';
@import 'pages/_adminUser.scss';
@import 'pages/_about.scss';
@import 'pages/_table-book.scss';
@import 'pages/_cart.scss';
@import 'pages/_order.scss';
@import 'pages/_thankyou.scss';
@import 'pages/_shimmerMenu.scss';
